<!-- Feature-Area -->
<section class="feature-area section-padding-top" id="services_page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="page-title text-center">
                    <h5 class="title">الخدمات</h5>
                    <div class="space-10"></div>
                    <h3> الخدمات التى يقدمها تطبيق فرانسي لعملائك</h3>
                    <div class="space-60"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="service-box wow fadeInUp" data-wow-delay="0.2s">
                    
                    <div class="box-icon">
                        <i class="fa fa-money"></i>
                    </div>
                    <h4>  السحب الأيداع النقدي </h4>
                    <p>السحب والأيداع النقدي عبر اي وكيل او فرع</p>

                  
                </div>
                <div class="space-60"></div>
                <div class="service-box wow fadeInUp" data-wow-delay="0.4s">
                    <div class="box-icon">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <h4><strong>سداد التجار</strong></h4>
                    <p>سداد قيمة المشتريات التجارية عبر التجار المسجلين لديك</p>
                </div>
                <div class="space-60"></div>
                <div class="service-box wow fadeInUp" data-wow-delay="0.6s">
                    <div class="box-icon">
                        <i class="fa fa-mobile-phone"></i>
                    </div>
                    <h4><strong>خدمات الهاتف وسداد الفواتير  </strong></h4>
                    <p>تعبئة الرصيد وشراء الباقات وسداد فواتير الانترنت والهاتف  الثابت وغيرها من الخدمات</p>
                </div>
                <div class="space-60"></div>
            </div>
            <div class="hidden-xs hidden-sm col-md-4">
                <figure class="mobile-image">
                    <img src="/images/feature-image.png" alt="Feature Photo">
                </figure>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="service-box wow fadeInUp" data-wow-delay="0.2s">
                    <div class="box-icon">
                        <i class="fa fa-exchange"></i>
                    </div>
                    <h4><strong>سحب واسال الحوالات</strong></h4>
                    <p>سحب وأرسال الحوالات المالية محلية ودولية</p>
                </div>
                <div class="space-60"></div>
                <div class="service-box wow fadeInUp" data-wow-delay="0.4s">
                    <div class="box-icon">
                        <i class="fa fa-money"></i>
                    </div>
                    <h4><strong>بيع وشراء عملات</strong></h4>
                    <p>التحويل بين العملات الأجنبية بالأسعار المحددة</p>
                </div>
                <div class="space-60"></div>
                <div class="service-box wow fadeInUp" data-wow-delay="0.6s">
                    <div class="box-icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <h4><strong>تحويل الى حساب</strong></h4>
                    <p>تحويل مبالغ مالية الى اي عميل أخر بشكل مباشر</p>
                </div>
                <div class="space-60"></div>
            </div>
        </div>
    </div>
</section>
<!-- Feature-Area-End -->
